<div class="navbar-wagon">
  <!-- Logo -->
<%= link_to "PokéMichelin", restaurants_path, class: "navbar-wagon-item navbar-wagon-link h_title" %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Add a Pokéresto", new_restaurant_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
